* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bannersection {
    width: 100%;
    height: auto;
    min-height: 100px;
    /* border: 2px solid red; */
    padding-top: 15px;
    background-image: url("https://images.pexels.com/photos/994605/pexels-photo-994605.jpeg");
    background-size: 100% 100%;



}


.navbar {
    width: 40%;
    /* height: 200px; */
    /* border: 2px solid red;   */
    margin: auto;
    /* margin-top: 30px; */
    /* justify-content: center; */

    background-color: white;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;


    gap: 10px;

    list-style-type: none;


}

.container {
    display: flex;
    justify-content: space-between;

    align-items: center;
    flex-wrap: wrap;

    padding: 0 10px;

}

.hover:hover {
    text-decoration: underline;
    color: rgba(165, 42, 42, 0.774);
    cursor: pointer;
}

.bannertext {
    width: 20%;
    /* border: 2px solid red; */
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 80px;
    flex-direction: column;
    color: rgba(25, 96, 118, 0.894);

}

.btn {
    background-color: orangered;
    color: white;
    /* margin-top: 20px; */
    /* border: 2px solid red; */
    margin: auto;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    margin-top: 20px;
    /* display: flex; */
    flex-wrap: wrap;
}
.servicesection{
    width: 100%;
    /* height: 300px; */
    /* border: 2px solid black; */
    margin-top: 10px;
    
}
.Servicetext{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.card{
    width: 100%;
    /* border: 2px solid black; */
    
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    
}
.fa-solid{
    font-size: 45px;
    color: white;
}
.card1{
    width: 180px;
    border: 2px solid black;
    background-color: #14967B;
    height: 200px;
}
.card2{
    width: 180px;
    border: 2px solid black;
  background-color:   #B9651C;
  height: 200px;
}
.card3{
    width: 180px;
    border: 2px solid black;
    background-color: #277BB4;
    height: 200px;
}
.card4{
    width: 180px;
    border: 2px solid black;
    background-color: #24A15E;
    height: 200px;
}
.cardsection{
    width: 100%;
    /* height: 700px; */
    /* border: 2px solid black; */
    margin-top: 10px;
    

.Portfolio{
 display: flex;
    align-items: center;
    flex-direction: column;
}
.box{
    width: 100%;
    /* border: 2px solid black; */
    /* height: 200px; */
    display: flex;
    gap: 10px;
    justify-content: center;
    justify-content: space-aroun3;
   
    flex-wrap: wrap;
    margin-top: 10px;
}
.box1{
    width: 300px;
    border: 2px solid black;
    height:200px ;
    background-image: url("https://images.pexels.com/photos/14421190/pexels-photo-14421190.jpeg");
    background-size: 100% 100%;
  
}
.box2{
    width: 300px;
    border: 2px solid black;
    background-image: url("https://images.pexels.com/photos/31690621/pexels-photo-31690621.jpeg");
    background-size: 100% 100%;
      height:200px ;
      
  
}
.box3{
    width: 300px;
    border: 2px solid black; 
     height:200px ;
     background-image: url("https://images.pexels.com/photos/31953957/pexels-photo-31953957.jpeg");
     background-size: 100% 100%;
   
}
.box4{
    width: 300px;
    border: 2px solid black;
      height:200px ;
      background-image: url("https://images.pexels.com/photos/33760395/pexels-photo-33760395.jpeg");
      background-size: 100% 100%;
    
}
.box5{
    width: 300px;
    border: 2px solid black;
      height:200px ;
      background-image: url("https://images.pexels.com/photos/13397143/pexels-photo-13397143.jpeg");
      background-size: 100% 100%;
   
}
.box6{
    width: 300px;
    border: 2px solid black;
      height:200px ;
      background-image: url("https://images.pexels.com/photos/14421190/pexels-photo-14421190.jpeg");
      background-size: 100% 100%;
  
}
.box7{
    width: 300px;
    border: 2px solid black;
      height:200px ;
      background-image: url("https://images.pexels.com/photos/31953957/pexels-photo-31953957.jpeg");
      background-size: 100% 100%;
   
}
.box8{
    width: 300px;
    border: 2px solid black;
      height:200px ;
      background-image: url("https://images.pexels.com/photos/33361636/pexels-photo-33361636.jpeg");
      background-size: 100% 100%;
  
}